<footer class="pt-5 my-5 text-body-secondary border-top">
    <small>SID: {_SID}</small>
</footer>
</div>
<script src="{_TPL}js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>(function($,d){$.each(readyQ,function(i,f){$(f)});$.each(bindReadyQ,function(i,f){$(d).bind("ready",f)})})(jQuery,document)</script>
<script src="{_TPL}js/hideseek/jquery.hideseek.min.js"></script>
<script src="{_TPL}js/functions.js"></script>
</body>
</html>